:root {
    --blue: #1966FF;
    --pink: #EC5EA5;
}

html {
    height: 200px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 8px;
}

a {
    color: var(--pink);
}

a:visited {
    color: var(--pink);
}

a:hover {
    font-weight: bold;
}

.heading {
    color: var(--pink);
    font-size: 16px;
    font-weight: bold;
    margin: 32px auto;
}

#loaded {
    display: none;
    text-align: center;
    width: 300px;
}

.spinner {
    width: 200px;
    margin: auto;
    text-align: center;
    color: var(--blue);
}

.spinner__icon {
    width: 48px;
    height: 48px;
    fill: var(--blue);
    animation: LOADING_CIRCLE 1s infinite linear;
}

.spinner__text {
    font-size: 14px;
    margin-top: 16px;
}

@keyframes LOADING_CIRCLE {
    100% {
        transform: rotate(360deg);
    }
}
